<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP"
		doc:name="Email SMTP">
		<email:smtp-connection host="smtp.gmail.com"
			user="user@gmail.com" password="password" port="587">
			<email:properties>
				<email:property key="mail.smtp.starttls.enable"
					value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<configuration-properties
		doc:name="Configuration properties" file="properties.yaml" />
	<http:request-config
		name="HTTP_Request_configuration"
		doc:name="HTTP Request configuration" basePath="/v2">
		<http:request-connection host="newsapi.org"
			port="80" />
	</http:request-config>
</mule>
